* {
  font-family: 'Karla', serif;
  font-size: 20px;
}

:root {
  --primary-blue: #51b3d6;
  --primary-black: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App:link {
  text-decoration: none;
  color: var(--primary-green)
}

.grid-inline {
  display: block;
  overflow: hidden;
  padding: 8px;
  background-color: #dddddd;
}

.grid-inline li{
  list-style-type: none;
}

.home {
  list-style-type: none;
  overflow: hidden;
  display: block;
  margin: 20px;
}

.home a {
  padding: 8px;
  float: right;
}

.icon {
  text-align: left;
  list-style: none;
}

.profilepic {
  text-align: center;
  margin: auto;
}

.aboutme {
  align-items: top;
  text-align: center;
}
