* {
  font-family: 'Karla', serif;
  font-size: 20px;
}
@media only screen and (min-width: 1024px) {
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: '100vw';
  height: '100&';
  background-position: center;
}
}

:root {
  --primary-blue: #51b3d6;
  --primary-black: black;
}

.grid-inline {
  display: block;
  grid-auto-flow: row;
  padding: 8px;
}

.grid-inline h5 {
  display: grid;
}

.grid-inline li{
  list-style-type: none;
}

.home {
  list-style-type: none;
  grid-template-columns: auto;
  display: inline-grid;
  align-items: top;
}

.icon {
  text-align: left;
  list-style: none;
}

.image {
  display: block;
}

.profilepic {
  text-align: center;
  margin: auto;
}

.aboutme {
  align-items: top;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  line-height: 0.7;
}

.aboutme2 {
  align-items: top;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  line-height: 0.7;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  color: white;
}

.row {
  content: "";
  display: flex;
  clear: both;
  text-align: center;
}
